.input-box{
    margin: 24px 0;
}
.input-box label{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
}
.input-box input{
    width: 100%;
    box-shadow: 10px 10px 30px 0px #0000000F;
    border: none;
    background-color: #ffffff;
    padding: 15px 10px;
    outline-color: #6278F7;
    font-size: 16px;
}